*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background: #f0f0f0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 650px;
}
.lbl-menu{
    background:black ;
}
.lbl-menu label{
    display: inline-block;
    padding: 30px;
    color: #fff;
    cursor:pointer;
    transition: all 400ms ease;
    
}
.lbl-menu label:hover{
    background:#A20A0A;
}
.content{
    position:relative;
    padding-bottom:150px ;
}

.content div{
    position:absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding:20px;
    background:#fff;
    padding-bottom: 40px;
    
}
.content a{
    background: #fa2a2a;
    padding: 20px 20px;
    border-radius: 15px;
    color:white;
}
#radio1,#radio2,#radio3{
    display:none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3
{
    opacity:1;
    visibility: visible;
    transform: scale(1);
}


.content div::after{
    position:absolute;
    content: '';
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid transparent;
    border-bottom:10px solid #fff;
    bottom: 100%;
    left: 60px;
}

.content .tab2::after{
    left:210px;    
}
.content .tab3::after{
    left:350px;    
}
.content .tab4::after{
    left:480px;    
}